$font-size: 15px;
$heading-font: 'Roboto', sans-serif;
$body-font:'Droid Sans', sans-serif;

$primary:       #cc0435;
$secondary:     #efefef;
$dark:          #17171c;


$btn-border-radius: 30px;
$btn-padding-x: 20px; 
$btn-padding-y: 10px;

$navbar-padding-y: 0px;
$nav-link-padding-y: 1.5rem;
$navbar-nav-link-padding-x: 1.5rem;

$navbar-inverse-color: inherit;
$navbar-inverse-hover-color: inherit;
$navbar-inverse-hover-color: inherit;

$dropdown-link-hover-color:  #ffffff;
$dropdown-link-hover-bg: $primary; 
$dropdown-item-padding-y: .5rem;
$dropdown-border-color:             none;
$dropdown-border-radius:            0px;
$dropdown-border-width:             0px;